$dk-violet: #302934;
$dk-yellow: #a7771f;
$dk-red: #491b1b;
$dk-blue: #15323b;
$dk-green: #27342a;
$dk-pink: #7a5858;
$dk-sky: #6e7c8b;
$dk-correct: #acff2f65;
$dk-incorrect: #ee4f4fbb;

$dk-violet-opaque: #30293477;
