@import "colors";

.ft-ct {
  background-image: url("../images/icon-white.png");
  background-size: 18vw;
  background-position: left 30px bottom 150px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: $dk-violet;
  padding: 0 7vw;
  .ft-content-ct {
    display: flex;
    padding: 100px 0;
    .ft-col-1 {
      margin-right: 20px;
    }
    .ft-col-2 {
      margin: 0 20px;
      h3 {
        text-transform: uppercase;
        color: $dk-sky;
        margin-bottom: 20px;
      }

      ul {
        list-style-type: none;
        li {
          margin-bottom: 5px;
          a {
            text-decoration: none;
            color: $dk-sky;
            transition: color 0.5s, padding-left 0.5s;
            -webkit-transition: color 0.5s, padding-left 0.5s;
            &:hover {
              color: $dk-yellow;
              padding-left: 10px;
            }
          }
        }
      }
    }
    .ft-col-3 {
      margin: 0 20px;
      h3 {
        text-transform: uppercase;
        color: $dk-sky;
        margin-bottom: 20px;
      }
      ul {
        list-style-type: none;

        li {
          margin-bottom: 5px;

          a {
            text-decoration: none;
            color: $dk-sky;
            transition: color 0.5s, padding-left 0.5s;
            -webkit-transition: color 0.5s, padding-left 0.5s;
            &:hover {
              color: $dk-yellow;
              padding-left: 10px;
            }
          }
        }
      }
    }
    .ft-col-4 {
      margin-left: 20px;
      a {
        img {
          display: block;
          margin-bottom: 10px;
          width: 60%;
          opacity: 0.7;
          filter: grayscale(100%) brightness(60%);
          transition: filter 0.5s, opacity 0.5;
          -webkit-transition: filter 0.5s, opacity 0.5s;
          &:hover {
            filter: grayscale(0%) brightness(100%);
            opacity: 1;
          }
        }
      }
    }
  }

  .ft-social {
    text-align: center;
    a {
      img {
        width: 35px;
        margin: 3px 7px;
        filter: invert(50%);
        transition: filter 0.5s;
        -webkit-transition: filter 0.5s;
        &:hover {
          filter: invert(100%);
        }
      }
    }
  }
}
.copyright-ct {
  font-size: 14px;
  background-color: #100d11;
  color: $dk-sky;
  padding: 20px 0 10px;
  text-align: center;
  .copyright {
    line-height: 1.1;
    .cc-icon {
      img {
        margin-bottom: 10px;
        filter: invert(50%);
        width: 30px;
        height: 30px;
        transition: filter 0.5s;
        &:hover {
          filter: invert(100%);
        }
      }
    }
    .mrclcyn-ct {
      display: inline-block;

      .mrclcyn {
        @keyframes mrclcyn {
          0% {
            color: #001aff;
            left: -2px;
            bottom: -2px;
          }
          25% {
            color: #4949496e;
            left: 0px;
            bottom: -2px;
          }
          50% {
            color: #ff0000;
            left: 2px;
            bottom: 0px;
          }
          75% {
            color: #000000;
            left: 0px;
            bottom: 2px;
          }
          100% {
            color: #ffffff;
            left: -2px;
            bottom: 0px;
          }
        }
        font-weight: bold;
        display: inline-block;
        position: relative;
        color: #ff8800;
        text-decoration: none;
        font-size: 18px;
        font-family: "Gloria Hallelujah", cursive;
        cursor: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        &:hover {
          animation: mrclcyn 0.0001s linear infinite;
        }
      }
    }
  }
}
.bug-ct {
  width: 100%;
  background-color: black;
  text-align: center;
  .find-a-bug {
    text-decoration: none;
    color: $dk-sky;
    font-size: 11px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    &:hover {
      color: white;
    }
  }
}
