$dk-violet: rgb(48, 41, 52);
$dk-yellow: rgb(167, 119, 31);
$dk-red: rgb(73, 27, 27);
$dk-blue: rgb(21, 50, 59);
$dk-green: rgb(39, 52, 42);
$dk-pink: rgb(122, 88, 88);
$dk-sky: rgb(110, 124, 139);

.homenavbar-ct {
  z-index: 99;
  width: 100%;
  overflow: hidden;
  background-color: $dk-violet;
  position: sticky;
  top: 0;
  padding: 10px 40px 5px;
  text-align: center;
  .homenavbar-icon-ct {
    display: inline;
    font-size: 32px;

    .homenavbar-icon {
      text-decoration: none;
      color: lightgray;
      cursor: none;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      &:hover {
        color: gray;
      }
    }
  }
}

.side-nav-ct {
  text-transform: capitalize;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: $dk-violet;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
  .side-nav-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: lightgray;
    display: block;
    transition: 0.5s;
    cursor: default;
    &:hover {
      color: $dk-pink;
    }
    &:active {
      color: red;
    }
  }
  .h-ruller {
    margin: 50px 10px;
    border: 1px solid $dk-pink;
  }
  .sidenav-close {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: lightgray;
    display: block;
    transition: 0.3s;
    cursor: default;
    transition: 0.5s;
    &:hover {
      color: $dk-pink;
    }
  }
}
