$dk-violet: rgb(48, 41, 52);
$dk-yellow: rgb(167, 119, 31);
$dk-red: rgb(73, 27, 27);
$dk-blue: rgb(21, 50, 59);
$dk-green: rgb(39, 52, 42);
$dk-pink: rgb(122, 88, 88);
$dk-sky: rgb(110, 124, 139);

.quiz-page-ct {
  background-color: $dk-violet;
  padding: 10vw 0 10vw;
  .quiz-ct {
    max-width: 50%;
    min-height: 650px;
    margin: 0 auto;
    .question-text-ct {
      margin-bottom: 50px;
      .question-text {
        font-size: clamp(18px, 1.5vw, 2vw);
        text-align: justify;
        line-height: 1.5;
        color: lightgray;
        a {
          color: rgba(0, 0, 0, 0.705);
          text-decoration: none;
          transition: color 0.5s;
          -webkit-transition: color 0.5s;

          &:hover {
            color: rgba(0, 0, 0, 0.336);
          }
        }
        ol {
          margin-top: 20px;
        }
        ul {
          margin-top: 20px;
        }
        span {
          color: $dk-yellow;
        }
      }
    }
    .question-table-ct {
      overflow-x: auto;
      margin: 50px 0;
      .question-table {
        font-size: clamp(20px, 1.7vw, 2vw);
        border-collapse: collapse;
        width: 100%;
        .question-table-row:nth-child(odd) {
          transition: background-color 0.5s;
          -webkit-transition: background-color 0.5s;
          background-color: #00000060;
          .question-table-cell {
            text-align: center;
            border: 1px solid lightgray;
            padding: 8px;
          }
          &:hover {
            background-color: #ffffff1e;
          }
        }
      }
      .question-table-row:nth-child(even) {
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        .question-table-cell {
          text-align: center;
          border: 1px solid #ddd;
          padding: 8px;
        }
        &:hover {
          background-color: #ffffff1e;
        }
      }
    }
    .ddQContainer {
      .ddQForm {
        .ddQSelect {
          width: 200px;
          margin: 50px 10px;
          box-shadow: 0 0 3px 3px #d15c5c;
          outline: none;
          border-radius: 5px;
          background-color: rgb(236, 236, 236);
          font-size: 18px;
          padding: 5px;
          .ddQOption {
            font-size: 22px;
            text-align: center;
          }
          &:focus {
            box-shadow: 0 0 3px 3px #522f2f;
          }
          &:hover {
            box-shadow: 0 0 3px 3px #522f2f;
          }
        }
        .ddQGoBtn {
          padding: 10px 32px 8px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 0 50px;
          transition-duration: 0.4s;
          cursor: pointer;
          background-color: white;
          color: black;
          border: 2px solid #555555;
          border-radius: 5px;
          margin-top: 70px;
          &:hover {
            background-color: #555555;
            color: white;
          }
        }
      }
      #corr {
        width: 200px;
        height: 100px;
        font-size: 24px;
        color: green;
        font-weight: bold;
      }
      #incorr {
        width: 200px;
        height: 100px;
        font-size: 24px;
        color: #d15c5c;
        font-weight: bold;
      }
    }

    .mcQContainer {
      .mcQForm {
        .mcQLabel {
          font-size: 26px;
          margin: 20px 20px;
          .mcQRadio {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            border: 2px solid gray;
            /* Adjusts the position of the checkboxes on the text baseline */
            vertical-align: -2px;
            outline: none;
            margin: 0 10px;
            &::before {
              display: block;
              content: " ";
              width: 10px;
              height: 10px;
              border-radius: 6px;
              background-color: red;
              font-size: 1.2em;
              transform: translate(3px, 3px) scale(0);
              transform-origin: center;
              transition: all 0.3s ease-in;
            }
            &:checked::before {
              transform: translate(3px, 3px) scale(1);
              transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
            }
          }
        }
        .mcQGoBtn {
          padding: 8px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 0 50px;
          transition-duration: 0.4s;
          cursor: pointer;
          background-color: white;
          color: black;
          border: 2px solid #555555;
          border-radius: 5px;
          margin-top: 70px;
          &:hover {
            background-color: #555555;
            color: white;
          }
        }
      }
      #corr {
        width: 200px;
        height: 100px;
        font-size: 24px;
        color: green;
        font-weight: bold;
      }
      #incorr {
        width: 200px;
        height: 100px;
        font-size: 24px;
        color: #d15c5c;
        font-weight: bold;
      }
    }

    .question-align-ct {
      width: 100%;
      margin-bottom: 50px;

      .question-align {
        width: 100%;
        min-height: 150px;
        height: calc(320px - 10vw);
        border: none;
      }
    }
    .quizButtonContainer {
      width: 50vw;
      display: block;
      margin-bottom: 40px;
      .quizNextBtn {
        padding: 8px 32px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: #555555;
        border: 2px solid #555555;
        border-radius: 5px;
        width: 150px;
        &:hover {
          background-color: #555555;
          color: white;
        }
      }
      .finishQuizBtn {
        padding: 8px 32px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: #555555;
        border: 2px solid #555555;
        border-radius: 5px;
        &:hover {
          background-color: #555555;
          color: white;
        }
      }
    }
  }
}
