.ft-ct {
  background-image: url("../images/icon-white.png");
  background-size: 18vw;
  background-position: left 30px bottom 150px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #302934;
  padding: 0 7vw;
}
.ft-ct .ft-content-ct {
  display: flex;
  padding: 100px 0;
}
.ft-ct .ft-content-ct .ft-col-1 {
  margin-right: 20px;
}
.ft-ct .ft-content-ct .ft-col-2 {
  margin: 0 20px;
}
.ft-ct .ft-content-ct .ft-col-2 h3 {
  text-transform: uppercase;
  color: #6e7c8b;
  margin-bottom: 20px;
}
.ft-ct .ft-content-ct .ft-col-2 ul {
  list-style-type: none;
}
.ft-ct .ft-content-ct .ft-col-2 ul li {
  margin-bottom: 5px;
}
.ft-ct .ft-content-ct .ft-col-2 ul li a {
  text-decoration: none;
  color: #6e7c8b;
  transition: color 0.5s, padding-left 0.5s;
  -webkit-transition: color 0.5s, padding-left 0.5s;
}
.ft-ct .ft-content-ct .ft-col-2 ul li a:hover {
  color: #a7771f;
  padding-left: 10px;
}
.ft-ct .ft-content-ct .ft-col-3 {
  margin: 0 20px;
}
.ft-ct .ft-content-ct .ft-col-3 h3 {
  text-transform: uppercase;
  color: #6e7c8b;
  margin-bottom: 20px;
}
.ft-ct .ft-content-ct .ft-col-3 ul {
  list-style-type: none;
}
.ft-ct .ft-content-ct .ft-col-3 ul li {
  margin-bottom: 5px;
}
.ft-ct .ft-content-ct .ft-col-3 ul li a {
  text-decoration: none;
  color: #6e7c8b;
  transition: color 0.5s, padding-left 0.5s;
  -webkit-transition: color 0.5s, padding-left 0.5s;
}
.ft-ct .ft-content-ct .ft-col-3 ul li a:hover {
  color: #a7771f;
  padding-left: 10px;
}
.ft-ct .ft-content-ct .ft-col-4 {
  margin-left: 20px;
}
.ft-ct .ft-content-ct .ft-col-4 a img {
  display: block;
  margin-bottom: 10px;
  width: 60%;
  opacity: 0.7;
  filter: grayscale(100%) brightness(60%);
  transition: filter 0.5s, opacity 0.5;
  -webkit-transition: filter 0.5s, opacity 0.5s;
}
.ft-ct .ft-content-ct .ft-col-4 a img:hover {
  filter: grayscale(0%) brightness(100%);
  opacity: 1;
}
.ft-ct .ft-social {
  text-align: center;
}
.ft-ct .ft-social a img {
  width: 35px;
  margin: 3px 7px;
  filter: invert(50%);
  transition: filter 0.5s;
  -webkit-transition: filter 0.5s;
}
.ft-ct .ft-social a img:hover {
  filter: invert(100%);
}

.copyright-ct {
  font-size: 14px;
  background-color: #100d11;
  color: #6e7c8b;
  padding: 20px 0 10px;
  text-align: center;
}
.copyright-ct .copyright {
  line-height: 1.1;
}
.copyright-ct .copyright .cc-icon img {
  margin-bottom: 10px;
  filter: invert(50%);
  width: 30px;
  height: 30px;
  transition: filter 0.5s;
}
.copyright-ct .copyright .cc-icon img:hover {
  filter: invert(100%);
}
.copyright-ct .copyright .mrclcyn-ct {
  display: inline-block;
}
.copyright-ct .copyright .mrclcyn-ct .mrclcyn {
  font-weight: bold;
  display: inline-block;
  position: relative;
  color: #ff8800;
  text-decoration: none;
  font-size: 18px;
  font-family: "Gloria Hallelujah", cursive;
  cursor: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
@keyframes mrclcyn {
  0% {
    color: #001aff;
    left: -2px;
    bottom: -2px;
  }
  25% {
    color: rgba(73, 73, 73, 0.431372549);
    left: 0px;
    bottom: -2px;
  }
  50% {
    color: #ff0000;
    left: 2px;
    bottom: 0px;
  }
  75% {
    color: #000000;
    left: 0px;
    bottom: 2px;
  }
  100% {
    color: #ffffff;
    left: -2px;
    bottom: 0px;
  }
}
.copyright-ct .copyright .mrclcyn-ct .mrclcyn:hover {
  animation: mrclcyn 0.0001s linear infinite;
}

.bug-ct {
  width: 100%;
  background-color: black;
  text-align: center;
}
.bug-ct .find-a-bug {
  text-decoration: none;
  color: #6e7c8b;
  font-size: 11px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.bug-ct .find-a-bug:hover {
  color: white;
}

/*# sourceMappingURL=footer.css.map */
