.results-ct {
  color: lightgray;
  width: 100%;
}
.results-ct .results-header {
  background-color: #302934;
  width: 100%;
  padding: 100px 20vw;
}
.results-ct .results-header .quiz-title {
  margin-bottom: 30px;
  font-size: clamp(28px, 2.8vw, 2.8vw);
}
.results-ct .results-header .average {
  font-size: clamp(24px, 2.2vw, 2.2vw);
  line-height: 1.5;
}
.results-ct .results-header .recommendation {
  font-size: clamp(16px, 1.5vw, 1.5vw);
  line-height: 1.5;
}
.results-ct .results-header .recommendation p a {
  color: #a7771f;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}
.results-ct .results-header .recommendation p a:hover {
  color: #6e7c8b;
}
.results-ct .result-ct .right-ans-ct {
  display: flex;
  flex-wrap: wrap;
  background-color: #27342a;
  padding: 40px 5vw calc(300px - 15vw);
}
.results-ct .result-ct .right-ans-ct .qNa-ct {
  min-width: 500px;
}
.results-ct .result-ct .right-ans-ct .qNa-ct .result-text-ct {
  line-height: 1.5;
  font-size: clamp(16px, 1.5vw, 1.5vw);
}
.results-ct .result-ct .right-ans-ct .qNa-ct .result-text-ct .result-text {
  margin-bottom: 3vw;
}
.results-ct .result-ct .right-ans-ct .qNa-ct .question-result {
  line-height: 1.5;
  font-size: clamp(16px, 1.5vw, 1.5vw);
}
.results-ct .result-ct .right-ans-ct .align-ct {
  min-width: 500px;
  padding-left: 1vw;
}
.results-ct .result-ct .right-ans-ct .align-ct .result-align-ct {
  width: 100%;
  padding-left: 1vw;
}
.results-ct .result-ct .right-ans-ct .align-ct .result-align-ct .result-align {
  padding: 0.7vw;
  background-color: white;
  width: 80%;
  min-height: 200px;
  height: calc(350px - 15vw);
  border: none;
  border-radius: 5px;
  filter: hue-rotate(90deg) invert(100%) opacity(0.8);
  -webkit-filter: hue-rotate(90deg) invert(100%) opacity(0.8);
  zoom: 1.25;
  transform: scale(1.25);
  transform-origin: 0 0;
  -moz-transform: scale(1.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1.25);
  -webkit-transform-origin: 0 0;
  margin-bottom: 3vw;
}
.results-ct .result-ct .wrong-ans-ct {
  display: flex;
  flex-wrap: wrap;
  background-color: #491b1b;
  padding: 40px 5vw calc(300px - 15vw);
}
.results-ct .result-ct .wrong-ans-ct .qNa-ct {
  min-width: 500px;
}
.results-ct .result-ct .wrong-ans-ct .qNa-ct .result-text-ct {
  line-height: 1.5;
  font-size: clamp(16px, 1.5vw, 1.5vw);
}
.results-ct .result-ct .wrong-ans-ct .qNa-ct .result-text-ct .result-text {
  margin-bottom: 3vw;
}
.results-ct .result-ct .wrong-ans-ct .qNa-ct .question-result {
  line-height: 1.5;
  font-size: clamp(16px, 1.5vw, 1.5vw);
}
.results-ct .result-ct .wrong-ans-ct .align-ct {
  min-width: 500px;
  padding-left: 1vw;
}
.results-ct .result-ct .wrong-ans-ct .align-ct .result-align-ct {
  min-width: 500px;
  padding-left: 1vw;
}
.results-ct .result-ct .wrong-ans-ct .align-ct .result-align-ct .result-align {
  padding: 0.7vw;
  background-color: white;
  width: 80%;
  min-height: 200px;
  height: calc(350px - 15vw);
  border: none;
  border-radius: 5px;
  filter: hue-rotate(270deg) invert(100%) opacity(0.8);
  -webkit-filter: hue-rotate(270deg) invert(100%) opacity(0.8);
  zoom: 1.25;
  transform: scale(1.25);
  transform-origin: 0 0;
  -moz-transform: scale(1.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1.25);
  -webkit-transform-origin: 0 0;
  margin-bottom: 3vw;
}
.results-ct .results-dash-ct {
  width: 100%;
  background-color: #302934;
  text-align: center;
}
.results-ct .results-dash-ct .results-dash {
  margin: 50px 0 100px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid lightgray;
  border-radius: 5px;
  color: lightgray;
  font-size: clamp(12px, 1.3vw, 1.5vw);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.results-ct .results-dash-ct .results-dash:hover {
  background-color: lightgray;
  color: #302934;
  border-color: #302934;
}

/*# sourceMappingURL=quizResult.css.map */
