.quiz-page-ct {
  background-color: rgb(21, 50, 59);
  padding: 10vw 0 10vw;
}
.quiz-page-ct .quiz-ct {
  max-width: 50%;
  min-height: 650px;
  margin: 0 auto;
}
.quiz-page-ct .quiz-ct .question-text-ct {
  margin-bottom: 50px;
}
.quiz-page-ct .quiz-ct .question-text-ct .question-text {
  font-size: clamp(18px, 1.5vw, 2vw);
  text-align: justify;
  line-height: 1.5;
  color: lightgray;
}
.quiz-page-ct .quiz-ct .question-text-ct .question-text a {
  color: rgba(0, 0, 0, 0.705);
  text-decoration: none;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
.quiz-page-ct .quiz-ct .question-text-ct .question-text a:hover {
  color: rgba(0, 0, 0, 0.336);
}
.quiz-page-ct .quiz-ct .question-text-ct .question-text ol {
  margin-top: 20px;
}
.quiz-page-ct .quiz-ct .question-text-ct .question-text ul {
  margin-top: 20px;
}
.quiz-page-ct .quiz-ct .question-text-ct .question-text span {
  color: rgb(167, 119, 31);
}
.quiz-page-ct .quiz-ct .question-table-ct {
  overflow-x: auto;
  margin: 50px 0;
}
.quiz-page-ct .quiz-ct .question-table-ct .question-table {
  font-size: clamp(20px, 1.7vw, 2vw);
  border-collapse: collapse;
  width: 100%;
}
.quiz-page-ct .quiz-ct .question-table-ct .question-table .question-table-row:nth-child(odd) {
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  background-color: rgba(0, 0, 0, 0.3764705882);
}
.quiz-page-ct .quiz-ct .question-table-ct .question-table .question-table-row:nth-child(odd) .question-table-cell {
  text-align: center;
  border: 1px solid lightgray;
  padding: 8px;
}
.quiz-page-ct .quiz-ct .question-table-ct .question-table .question-table-row:nth-child(odd):hover {
  background-color: rgba(255, 255, 255, 0.1176470588);
}
.quiz-page-ct .quiz-ct .question-table-ct .question-table-row:nth-child(even) {
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}
.quiz-page-ct .quiz-ct .question-table-ct .question-table-row:nth-child(even) .question-table-cell {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}
.quiz-page-ct .quiz-ct .question-table-ct .question-table-row:nth-child(even):hover {
  background-color: rgba(255, 255, 255, 0.1176470588);
}
.quiz-page-ct .quiz-ct .hint-ct {
  width: 100%;
  margin: 20px 0;
  text-align: left;
}
.quiz-page-ct .quiz-ct .hint-ct button {
  font-size: clamp(12px, 1.3vw, 1.5vw);
  padding: 10px;
  background-color: transparent;
  color: lightgray;
  border: 2px solid lightgray;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
.quiz-page-ct .quiz-ct .hint-ct button:hover {
  color: rgb(48, 41, 52);
  border-color: rgb(48, 41, 52);
  background-color: lightgray;
}
.quiz-page-ct .quiz-ct .ddq-ct {
  display: flex;
  margin: 20px auto;
  width: 100%;
  justify-content: center;
}
.quiz-page-ct .quiz-ct .ddq-ct .ddq-btn-ct {
  width: 45%;
  margin: 0 10px;
}
.quiz-page-ct .quiz-ct .ddq-ct .ddq-btn-ct .ddq-btn {
  font-size: clamp(12px, 1.3vw, 1.5vw);
  display: block;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  color: rgb(110, 124, 139);
  border: 2px solid rgb(110, 124, 139);
  transition: 0.5s;
  border-radius: 5px;
  font-weight: bold;
  text-transform: lowercase;
  margin: 3px 0;
}
.quiz-page-ct .quiz-ct .ddq-ct .ddq-btn-ct .ddq-btn:hover {
  color: rgb(21, 50, 59);
  border-color: rgb(21, 50, 59);
  background-color: rgb(110, 124, 139);
}
.quiz-page-ct .quiz-ct .ddq-ct .ddq-btn-ct .ddq-btn:focus {
  color: rgb(21, 50, 59);
  border-color: rgb(21, 50, 59);
  background-color: rgb(122, 88, 88);
}
.quiz-page-ct .quiz-ct .ddq-user-answer {
  width: 100%;
  text-align: center;
  color: lightgray;
  font-weight: bold;
  font-size: clamp(20px, 1.7vw, 2vw);
  margin-bottom: 20px;
}
.quiz-page-ct .quiz-ct .ddq-go-ct {
  width: 100%;
  text-align: center;
}
.quiz-page-ct .quiz-ct .ddq-go-ct .ddq-go-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid rgb(122, 88, 88);
  border-radius: 5px;
  color: rgb(122, 88, 88);
  font-size: clamp(12px, 1.3vw, 1.5vw);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.quiz-page-ct .quiz-ct .ddq-go-ct .ddq-go-btn:hover {
  background-color: rgb(122, 88, 88);
  color: rgb(21, 50, 59);
  border-color: rgb(21, 50, 59);
}
.quiz-page-ct .quiz-ct #corr {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  color: rgba(172, 255, 47, 0.3960784314);
  font-weight: bold;
  text-transform: uppercase;
}
.quiz-page-ct .quiz-ct #incorr {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  color: #d15c5c;
  font-weight: bold;
  text-transform: uppercase;
}
.quiz-page-ct .quiz-ct .explanation {
  font-size: 24px;
  text-align: justify;
  margin: 20px 0;
}
.quiz-page-ct .quiz-ct .quiz-btn-ct {
  width: 100%;
  text-align: center;
}
.quiz-page-ct .quiz-ct .quiz-btn-ct .quiz-next-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid rgb(167, 119, 31);
  border-radius: 5px;
  color: rgb(167, 119, 31);
  font-size: clamp(12px, 1.3vw, 1.5vw);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.quiz-page-ct .quiz-ct .quiz-btn-ct .quiz-next-btn:hover {
  background-color: rgb(167, 119, 31);
  color: rgb(21, 50, 59);
  border-color: rgb(21, 50, 59);
}
.quiz-page-ct .quiz-ct .quiz-btn-ct .quiz-finish-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid rgba(172, 255, 47, 0.3960784314);
  border-radius: 5px;
  color: rgba(172, 255, 47, 0.3960784314);
  font-size: clamp(12px, 1.3vw, 1.5vw);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.quiz-page-ct .quiz-ct .quiz-btn-ct .quiz-finish-btn:hover {
  background-color: rgba(172, 255, 47, 0.3960784314);
  color: rgb(21, 50, 59);
  border-color: rgb(21, 50, 59);
}
.quiz-page-ct .quiz-ct .explanation {
  width: 100%;
  text-align: center;
  font-size: 24px;
}
.quiz-page-ct .quiz-ct .question-align-ct {
  width: 100%;
  margin-bottom: 50px;
}
.quiz-page-ct .quiz-ct .question-align-ct .question-align {
  padding: 0.7vw;
  background-color: white;
  width: 80%;
  min-height: 150px;
  height: calc(350px - 11vw);
  border: none;
  border-radius: 5px;
  filter: hue-rotate(180deg) invert(82%);
  -webkit-filter: hue-rotate(180deg) invert(82%);
  zoom: 1.2;
  transform: scale(1.25);
  transform-origin: 0 0;
  -moz-transform: scale(1.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1.25);
  -webkit-transform-origin: 0 0;
  padding-bottom: 4vw;
}
.quiz-page-ct .quiz-ct .mcq-ct {
  padding: 20px 3vw;
  width: 100%;
}
.quiz-page-ct .quiz-ct .mcq-ct .mcq-btn-ct {
  display: block;
  padding: 20px;
  text-align: center;
}
.quiz-page-ct .quiz-ct .mcq-ct .mcq-btn-ct .mcq-btn {
  font-size: clamp(12px, 1.3vw, 1.5vw);
  display: inline-block;
  width: 40%;
  padding: 5px;
  background-color: transparent;
  color: rgb(110, 124, 139);
  border: 2px solid rgb(110, 124, 139);
  transition: 0.5s;
  border-radius: 5px;
  font-weight: bold;
  text-transform: lowercase;
  margin: 5px 5px;
}
.quiz-page-ct .quiz-ct .mcq-ct .mcq-btn-ct .mcq-btn:hover {
  color: rgb(21, 50, 59);
  border-color: rgb(21, 50, 59);
  background-color: rgb(110, 124, 139);
}
.quiz-page-ct .quiz-ct .mcq-ct .mcq-btn-ct .mcq-btn:focus {
  color: rgb(21, 50, 59);
  border-color: rgb(21, 50, 59);
  background-color: rgb(122, 88, 88);
}
.quiz-page-ct .quiz-ct .mcq-go-ct {
  width: 100%;
  text-align: center;
}
.quiz-page-ct .quiz-ct .mcq-go-ct .mcq-go-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid rgb(122, 88, 88);
  border-radius: 5px;
  color: rgb(122, 88, 88);
  font-size: clamp(12px, 1.3vw, 1.5vw);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.quiz-page-ct .quiz-ct .mcq-go-ct .mcq-go-btn:hover {
  background-color: rgb(122, 88, 88);
  color: rgb(21, 50, 59);
  border-color: rgb(21, 50, 59);
}

/*# sourceMappingURL=quiz.css.map */
