.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.home-yellow-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid rgb(39, 39, 39);
  border-radius: 5px;
  color: rgb(39, 39, 39);
  font-size: clamp(12px, 1.3vw, 1.5vw);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.home-yellow-btn:hover {
  background-color: rgb(39, 39, 39);
  color: rgb(167, 119, 31);
  border-color: rgb(167, 119, 31);
  cursor: none;
}

.home-green-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid lightgray;
  border-radius: 5px;
  color: lightgray;
  font-size: clamp(12px, 1.3vw, 1.5vw);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.home-green-btn:hover {
  background-color: lightgray;
  color: rgb(39, 52, 42);
  border-color: rgb(39, 52, 42);
  cursor: none;
}

.home-red-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid lightgray;
  border-radius: 5px;
  color: lightgray;
  font-size: clamp(12px, 1.3vw, 1.5vw);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.home-red-btn:hover {
  background-color: lightgray;
  color: rgb(73, 27, 27);
  border-color: rgb(73, 27, 27);
  cursor: none;
}

.home-blue-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid lightgray;
  border-radius: 5px;
  color: lightgray;
  font-size: clamp(12px, 1.3vw, 1.5vw);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.home-blue-btn:hover {
  background-color: lightgray;
  color: rgb(21, 50, 59);
  border-color: rgb(21, 50, 59);
  cursor: none;
}

.home-sky-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid lightgray;
  border-radius: 5px;
  color: lightgray;
  font-size: clamp(12px, 1.3vw, 1.5vw);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.home-sky-btn:hover {
  background-color: lightgray;
  color: rgb(110, 124, 139);
  border-color: rgb(110, 124, 139);
  cursor: none;
}
